body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
h1{
    color:#e91ac6;
    text-align=center;
}

.container {
    text-align: center;
    background: #181517;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #e6f145;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e91ac6;
}

p {
    font-size: 18px;
    font-weight: bold;
    color:#e91ac6;
}
